* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: red;
    --secondary-color: black;
    --third-color: white
}

.dark-theme {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: red;
    --third-color: black
}




nav {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.icon,
#sun {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

nav p {
    font-size: 30px;
}

span {
    color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepage {
    border-radius: 50px;
    width: 200px;
    height: 200px;
}

.container {
    background-color: var(--third-color);
    display: flex;
    color: var(--secondary-color);
    border-radius: 1px 90px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 50vh;
    margin: 150px auto;
    justify-content: center;
    border: 2px black solid;
}

.right {
    width: 300px;
    max-width: 300px;
}

.text {
    display: flex;
    gap: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}