* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: pink;
    height: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;


}


.moves {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input[type=range] {
    height: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: black;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 40px 30px;
    border-radius: 5px;
    max-width: fit-content;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.sub-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


#main-icon {
    padding: 10px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}