* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
    width: 100%;
    background-color: rgb(45, 45, 86);
    height: 100vh;
    position: absolute;
}

.qrcode {
    border-radius: 5px;
    background-color: antiquewhite;
    position: absolute;
    padding: 40px;
    margin: 200px 100px;
}

#QR-btn {
    cursor: pointer;
    background-color: rgb(241, 241, 92);
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 10px;
}

#QR-input {
    width: 100%;
    border: none;
    margin: 20px 0;
    padding: 10px;
}